:root {
    --primary-color: navy;
    --secondary-color: rgb(161, 161, 240);
    --accent2-color: rgb(201, 201, 240);
    --heading-font: "Playfair Display SC";
    --paragraph-font: "Playfair Display";
}

body {
    color: black;
    font-size: 16px;
    font-family: 'Playfair Display', 'Goudy Old Style', serif;
    background-color: rgb(212, 186, 153);
    width: 1060px;
    margin: auto;
}


header {
    font: var(--heading-font);
    background-color: var(--accent2-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.action {
    background-color: rgba(240, 240, 240, 0.7);
    max-width: 250px;
    font-family: 'Playfair Display', 'Goudy Old Style', serif;
    position: relative;
    margin: 1em 3em;
    padding: 1em;
    text-align: center;
}

.action button {
    line-height: 2em;
    width: 8em;
    background-color: wheat;
    color: var(--primary-color);
    font-size: 1.2em;
    margin-bottom: 15px;
}
.action button:hover {
    background-color: var(--primary-color);
    color: white;
  }

h1,
h2,
h3,
h4 {
    font-family: "Playfair Display SC", "Goudy", serif;
    text-align: center;
}

a:hover {
    background-color: beige;
    color: var(--primary-color);
}

header nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0 0 0 2em;

}

header nav ul li a {
    text-decoration: none;
    font-family: "Playfair Display", "Goudy Old Style", serif;
    color: var(--primary-color);
    font-style: italic;
    font-weight: bold;
    font-size: 1rem;
    display: block;
    padding: 1.25rem 1.25rem;
}

header nav ul li {
    flex: 1 1 auto;
}

.bridge {
    display: flex;
    position: absolute;
    width: 1060px;
}

main {
    background-color: var(--accent2-color);

}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin-top: 200px;
}
.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: .5rem;
    margin-top: 30px;
}

.yourhome p {
    grid-column: 1;
    grid-row: 1;
}
.title {
    padding: 30px 0px 30px 0px;
    background-color:var(--secondary-color);
}
.temple,
.recephall {
    border: 1px solid #ccc;
    margin: 15px 5px 0px;
    padding: 10px;
    box-shadow: 5px 5px 5px #999;
    width: 92%;
    height: auto;
}
.pool {
    border: 1px solid #ccc;
    margin: 15px 25px 0px 25px;
    padding: 10px;
    box-shadow: 5px 5px 5px #999;
    width: 50%;
    height: auto;
}

.yourhome>img {
    grid-column: 2;
    grid-row: 1;

}

.receptions>p {
    grid-column: 2;
    grid-row: 2;
}

.receptions>img {
    grid-column: 1;
    grid-row: 2;
}

.famsearch {
    grid-column: 1 / -1;
}

p {
    background-color: var(--accent2-color);
    margin: 20px;
    text-align: justify;
    padding: 12px;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1.5em;
    background-color: var(--secondary-color);
    align-content: center;

}

.contact p {
    text-align: justify;
    padding-left: 80px;
}

.social {
    text-align: center;
    padding-top: 3em;
}

.copyright {
    grid-column: 1 / 3;

}

.copyright p {
    text-align: center;
}