:root {
    --primary-color: navy;
    --secondary-color: rgb(161, 161, 240);
    --accent1-color: rgb(216, 100, 120);
    --accent2-color: rgb(201, 201, 240);
    --heading-font: "Playfair Display SC"; 
    --paragraph-font: 'Playfair Display';

}

.heading {
    display: flex;
    font: var(--heading-font);

}

body {
    font-size: 16px;
    color: navy;
    font-family: 'Playfair Display', 'Goudy Old Style', serif;
    background-color: var(--secondary-color);
    padding: 2;
    margin: 2;
}

header,
main,
footer {
    max-width: 960px;
    margin: 0 auto;
}

header {
    font-family: 'Playfair Display SC', "Goudy Old Style", serif;
    padding: 3em;
    background-color: var(--accent2-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;

}

h1 {
    font-family: "Playfair Display SC","Goudy", serif; 
    font-size: 4rem;
    font-weight: bold;
}
a:hover { 
    background-color: beige;
    color: navy;


}

header nav ul li a {
    display: flex;
    align-items: center;
    flex-direction: column;


}

header nav ul li {
    flex: 1 1 auto;
    flex-direction: column;
}

p {
    background-color: whitesmoke;
    margin: 22px;
    text-align: justify;
    padding: 18px;

}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3em;
    background-color: var(--accent1-color);
}

.contact {
    text-align: left;

}

.social img{
    width: 100px;
    height: auto;
    text-align: right;
}

.copyright p{
    align-content: center;
    text-align: justify;
}